*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

@keyframes color {
  0% {
    background: #33cccc;
  }
  20% {
    background: #33cc36;
  }
  40% {
    background: #b8cc33;
  }
  60% {
    background: #fcca00;
  }
  80% {
    background: #33cc36;
  }
  100% {
    background: #33cccc;
  }
}

body {
  padding: 0;
  margin: 0;
  background: #33cccc; /* Fallback */
  animation: color 20s infinite linear;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid button:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.span-two {
  grid-column: span 2;
}

.display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.display .prev-output {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
}

.display .output {
  color: white;
  font-size: 2em;
}
